/demo1/client
/demo1/service
/demo1/vendor
/demo1/*.crt
/demo1/*.csr
/demo1/*.key

/demo2/client
/demo2/service
/demo2/vendor
/demo2/*.crt
/demo2/*.csr
/demo2/*.key

/demo3/client
/demo3/service
/demo3/vendor
/demo3/*.crt
/demo3/*.csr
/demo3/*.key

